<p> {{ _('Hello') }} {{ user.username }}, </p>

<p>
{{ _('To reset your password,') }}
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
        _('click here')
    </a>.
</p>

<p>
    {{ _('If the link above doesn\'t work, try pasting the following in your browser address bar:') }}
    {{ url_for('auth.reset_password', token=token, _external=True) }}
</p>

{{ _('If you have not requested a password reset, ignore this message.') }}

Flask Mega Tutorial